@import "./quasar.variables.scss";
@import "./animations.scss";
@import "~quasar-styl";
// @import '~quasar-addon-styl';
.main-content {
  display: flex;
  align-content: center;
  justify-content: right;
  align-items: center;
}

.section {
  width: 90% !important;
  height: 85% !important;
  margin: auto;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  div {
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

* {
  transition: 0.5s;
}
.slowDowns {
  transition-duration: 1s;
  animation-duration: 1s;
}


